/*font-family: 'Noto Sans Display', sans-serif;
background: rgb(58,154,196);
background: linear-gradient(0deg, rgba(58,154,196,1) 0%, rgba(0,123,163,1) 17%, rgba(0,93,132,1) 20%, rgba(0,65,102,1) 21%);
*/

body {
  font-family: "Noto Sans Display", sans-serif;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 20px;
  color: black;
  margin: 5px;
}

.logo {
  max-width: 61px;
}

#intro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("media/intro-resize.jpg");
  height: 90vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media (max-width: 576px) {
  #intro {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("media/intro-resize.jpg");
    height: 90vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    margin-top: 25px;
    text-align: center;
  }
}

.intro-title {
  color: white;
  font-size: 70px;
  font-weight: 800;
}

.description-intro {
  color: white;
  font-size: 25px;
  font-weight: 600;
}

footer {
  background-color: #fafafa;
}

.copyright {
  flex: 1;
  justify-content: center;
}

a {
  color: black;
}

.quick-title {
  font-size: 20px;
  text-align: center;
  padding-bottom: 15px;
}

.paragraph-quick {
  font-size: 15px;
  text-align: justify;
}

#engagement {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("media/engagement.jpg");
  height: 90vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media (max-width: 576px) {
  #engagement {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("media/engagement.jpg");
    height: 90vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    margin-top: 25px;
    text-align: center;
  }
}

.intro-engagement {
  color: white;
  margin: 20px;
  font-size: 70px;
  padding-bottom: 25px;
}
.icon-engagement {
  color: white;
  text-align: center;
  padding: -15px;
  font-size: 80px;
}

.title-engagement {
  color: white;
  text-align: center;
  padding: -15px;
}

/* CSS */
.button-71 {
  background-color: #0083eb;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  outline: 0;
  padding: 12px 17px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .button-71 {
    padding: 12px 17px;
    display: flex;
    justify-content: center;
  }
}

.besoin-aide {
  margin-top: -43px;
  margin-bottom: 70px;
}

.row-aide {
  flex: 1;
  justify-content: center;
}
