/*font-family: 'Noto Sans Display', sans-serif;
background: rgb(58,154,196);
background: linear-gradient(0deg, rgba(58,154,196,1) 0%, rgba(0,123,163,1) 17%, rgba(0,93,132,1) 20%, rgba(0,65,102,1) 21%);
*/

body {
  font-family: "Noto Sans Display", sans-serif;
}

footer {
  background-color: white;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 20px;
  color: black;
  margin: 5px;
}

#intro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("media/intro-resize.jpg");
  height: 70vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media (max-width: 576px) {
  #intro {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("media/intro-resize.jpg");
    height: 70vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    margin-top: 25px;
    text-align: center;
  }
}

.intro-title {
  color: white;
  font-size: 50px;
  font-weight: 800;
}

.devis {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: solid white;
  padding: 15px;
  box-shadow: 5px 5px 10px rgba(156, 115, 115, 0.1);
}

.demarche-list {
  text-align: center;
  padding-bottom: 50px;
}

.demarche {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
}

.step {
  border: solid #dce6f0;
  box-shadow: 5px 5px 10px rgba(156, 115, 115, 0.1);
  margin: 30px 100px;
  padding: 20px 70px;
  text-align: center;
}

.demarche-category {
  padding: 30px;
}

.text-projet {
  margin-top: 150px;
}

.on-parle-de-nous {
  padding-top: 25px;
  padding-bottom: 50px;
  background-color: #fafafa;
  text-align: center;
}

.card-img-top {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 80px;
}

.btn-primary {
  background-color: #0085ec;
}

a {
  color: black;
}

.copyright {
  flex: 1;
  justify-content: center;
}

.description-intro {
  color: white;
  font-size: 17px;
  font-weight: 600;
}

/*nav bar */

.logo {
  max-width: 61px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

@media (max-width: 576px) {
  .wrapper {
    display: flex;
    justify-content: flex-start;
  }
}

nav .content {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
nav .content .links {
  margin-left: 80px;
  display: flex;
}
.content .logo a {
  color: black;
  font-size: 30px;
}
.content .links li {
  list-style: none;
  line-height: 70px;
  text-decoration: none;
}
.content .links li a,
.content .links li label {
  color: black;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 25px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}
.content .links li label {
  display: none;
}
.content .links li a:hover,
.content .links li label:hover {
  background: #0184ec;
  color: white;
}
.wrapper .search-icon,
.wrapper .menu-icon {
  color: black;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  text-align: center;
}
.wrapper .menu-icon {
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before {
  content: "\f00d";
}
.wrapper .search-box {
  position: absolute;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}
.wrapper #show-search:checked ~ .search-box {
  opacity: 1;
  pointer-events: auto;
}

.wrapper input[type="checkbox"] {
  display: none;
}
/* Dropdown Menu code start */
.content .links ul {
  position: absolute;
  background: #0184ec;
  color: white;
  top: 80px;
  opacity: 0.5;
  visibility: hidden;
}
.content .links li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease;
  color: white;
}
.content .links ul li a {
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px !important;
  color: white;
}
.content .links ul ul {
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li {
  position: relative;
}
.content .links ul li:hover ul {
  top: 0;
}
/* Responsive code start */
@media screen and (max-width: 1250px) {
  .wrapper nav {
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links {
    margin-left: 30px;
  }
  .content .links li a {
    padding: 8px 13px;
  }
  .wrapper .search-box {
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input {
    padding: 0 100px 0 15px;
  }
}
@media screen and (max-width: 900px) {
  .wrapper .menu-icon {
    display: block;
    text-align: left;
  }

  .wrapper #show-menu:checked ~ .menu-icon i::before {
    content: "\f00d";
  }
  nav .content .links {
    display: block;
    position: fixed;
    background: white;
    color: black;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.4s ease;
  }
  nav #show-menu:checked ~ .content .links {
    left: 0%;
  }
  .content .links li {
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label {
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
    color: black;
  }
  .content .links li a.desktop-link {
    display: none;
  }
  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul {
    position: static;
    opacity: 1;
    visibility: visible;
    background: #0184ec;
    color: white;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul {
    max-height: 100vh;
  }
  .content .links ul li {
    margin: 7px 20px;
  }
  .content .links ul li a {
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px !important;
  }
}
@media screen and (max-width: 400px) {
  .wrapper nav {
    padding: 0 10px;
  }
  .content .logo a {
    font-size: 27px;
  }
  .wrapper .search-box {
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon {
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input {
    padding-right: 30px;
  }
}

.desktop-links {
  text-decoration: none;
}
